/* @import url(); COMPLETAR FONT*/

:root {
    /*background colors*/
    --background: #2B2118;
    --primary: #6F1A07;
    --secondary: #AF9164;
    --third: #B3B6B7;
    --fourth: #F7F3E3;

    /*text colors*/
    --text1: #F2F3AE;
    --text2: #D58936;
    --text3: #A44200;
    --text4: #69140E;
    --text5: #3C1518;

    /*decoration*/
    --decoration1: #9ABCA7;
    --decoration2: #B7B7B7;
    --decoration3: #CEB7B3;
    --decoration4: #F7B2AD;
    --decoration5: #333232;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    /* font-family: ; */
}

header {
    background: var(--text1);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 30px;
    
}

.logo {
    height: 80%;
    margin-left: 1rem;
}
.navbar,
.navbar-list {
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.navbar {
    gap: 100px;
}

.navbar-list {
    gap: 30px;
}

.navbar-list a {
    color: var(--text5);
    font-size: 16px;
    font-family: 'Arvo', serif;
    font-weight: bold;
}


.cart-icon { 
    border-radius: 10px; 
    height: 35px;
    padding: 3px 3px 3px 10px; 
    margin-right: 1rem;  
    cursor: pointer;
    border: 5px double black;
}

body {
    background-color: var(--background);
}

.background-image {
    width: 100%;
}